
<%= render "devise/shared/error_messages", resource: resource %>
<div class="user_form">

  <h2>ユーザーネーム・パスワード変更</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="line_info">
      <%= f.label "ユーザーネーム" ,class: "line_content_1"  %>
      <%= f.text_field :user_name,class: "line_content_2_large_interval", autofocus: true , maxlength: 40  %>

    </div>


    <div class="line_info">
      <%= f.label "Email" ,class: "line_content_1"  %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "line_content_2_large_interval txt_email",maxlength: 255  %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <br /><div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="line_info">
      <%= f.label "パスワード" ,class: "line_content_1"  %>
      <%= f.password_field :password, autocomplete: "new-password",class: "line_content_2_large_interval" ,maxlength: 60 %>
    </div>
    <div class="line_info_thin">
      <span class="line_content_annotation">
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %>文字以上で入力してください</em>
        <% end %>
        <i> (変更しない場合は空白のまま)</i>
      </span>
    </div>

    <div class="line_info">
      <%= f.label "パスワード（確認用）" ,class: "line_content_annotation"  %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "line_content_2_annotation_large_interval" ,maxlength: 60 %>
    </div>


    <div class="line_info">
      <%= f.label "現在のパスワード" ,class: "line_content_1"  %>
      <%= f.password_field :current_password, autocomplete: "current-password" ,class: "line_content_2_large_interval" ,maxlength: 60 %>
      <br />
    </div>
    <div class="line_info">
      <i class= "line_content_annotation"> (更新のため、現在のパスワードを入力してください)</i>
    </div>

    <div class="line_info">
      <%= f.submit "更新",class: "btn btn-primary line_content_btn_2" %>
    </div>

  <% end %>

  <div class="line_info">
  </div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete }) do |f| %>

  <div>
      <div class="line_info">
        <h3 class= "line_content_1">アカウントを削除する</h3>
      </div>

      <div class="line_info">
        <h5 class= "line_content_1">アカウントを削除する際はパスワードを入力した上で、削除ボタンを押してください</h5>
      </div>

      <div class="line_info">
        <h5 class= "line_content_annotation">(一度削除すると<span class="red">元には戻せません</span>)。</h5>
      </div>

      <div class="line_info">
        <%= f.label "パスワード（削除用）" ,class: "line_content_1"  %>
        <%= f.password_field :current_password, autocomplete: "current-password" ,class: "line_content_2_large_interval" ,maxlength: 60 %>
        <br />
      </div>

      <div class="line_info_multiline">
        <%= button_to "削除", registration_path(resource_name),class: "btn btn-danger line_content_btn_2", data: { confirm: "本当に削除しますか?" }, method: :delete %>
      </div>
  </div>

<% end %>

</div>
