
<%= render "devise/shared/error_messages", resource: resource %>
<div class="user_form">

  <h2>新規ユーザー登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


    <div class="line_info">
      <%= f.label :email ,class: "line_content_1"  %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email"  ,class: "line_content_2_large_interval txt_email" ,maxlength: 255 %>
    </div>

    <div class="line_info">
      <%= f.label "ユーザー名" ,class: "line_content_1"  %>
      <%= f.text_field :user_name, autofocus: true  ,class: "line_content_2_large_interval" ,maxlength: 40 %>
    </div>
    <div class="line_info">
      <%= f.label "※検索などに使用する名称です。他のユーザーが使用している名前は使用できません。" ,class: "line_content_annotation"  %>
    </div>

    <div class="line_info">
      <%= f.label "パスワード" ,class: "line_content_1"  %>
      <%= f.password_field :password, autocomplete: "new-password"  ,class: "line_content_2_large_interval",maxlength: 60 %>
    </div>


    <div class="line_info">
      <%= f.label "パスワード（確認）" ,class: "line_content_1"  %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "line_content_2_large_interval",maxlength: 60  %>
    </div>

    <div class="line_info">
      <% if @minimum_password_length %>
        <%= f.label "※パスワードは#{@minimum_password_length}文字以上で入力してください。" ,class: "line_content_annotation"  %>
      <% end %><br />
    </div>

    <div class="line_info">
      <%= f.submit "新規登録" ,class: "btn btn-primary line_content_btn" %>
    </div>
  <% end %>

  <%# <%= render "devise/shared/links" %>

</div>
