<div class="sidebar_title">
  <h4 class="form_name"><strong><%= @form_name %></strong></h4>

  <% if @form_name_sub.present? %>
    <strong class="form_name_sub"><%= @form_name_sub %></strong>
  <% end %>
</div>

<% if user_signed_in? %>
  <br><br>
  <%= t('verb.is_login',name: current_user.user_name.to_s) %>

  <br><br>
  <%= link_to t('activerecord.models.user') + t('activerecord.attributes.user.profile'), user_path(current_user.id) %>
  <br><br>
  <%= link_to t('verb.make_this',this: t('activerecord.models.drawing_pin')) ,new_drawing_pin_path ,class: "btn  btn-primary btn_head" %>
  <br><br>
  <%= link_to t('verb.look_this',this: t('activerecord.models.drawing_pin')) ,drawing_pins_path ,class: "btn  btn-primary btn_head" %>
  <br>

  <%# ↓作業箱画面は後回し %>
  <%# <%= select :workbox_id,"", get_workboxes_as_selectbox_info[0] ,{:selected => get_workboxes_as_selectbox_info[1]}  %>
  <!-- <br>の作業箱を<a class="btn btn-primary btn-sm" >編集</a> -->

  <br>

  <span data-controller="set-url-by-selectbox">
  <input type="hidden" value= "/plans/" data-target = "set-url-by-selectbox.base_url_1" >
  <input type="hidden" value= "" data-target = "set-url-by-selectbox.base_url_2" >

  <%= select :plan_id,"", get_plans_as_selectbox_info[0] , {:selected => get_plans_as_selectbox_info[1]}, {:data => {:target => "set-url-by-selectbox.selected_info",:action => "change->set-url-by-selectbox#select"},class: "cbb_workbox_or_plan"} %>

  <br><%= t('long_msg.plan.use_plan_1') %><%= link_to t('verb.edit') + t('verb.do'), "" ,class: "btn btn-primary",method: "get" ,:data => {:target => "set-url-by-selectbox.btn"} %>
  </span>

  <br><br>
  <span data-controller="set-url-by-selectbox">
    <input type="hidden" value= "/plans/" data-target = "set-url-by-selectbox.base_url_1" >
    <input type="hidden" value= "/presentation" data-target = "set-url-by-selectbox.base_url_2" >
    <%= select :plan_id,"", get_plans_as_selectbox_info[0],{selected: get_plans_as_selectbox_info[1]}, {:data => {:target => "set-url-by-selectbox.selected_info",:action => "change->set-url-by-selectbox#select"},class: "cbb_workbox_or_plan"} %>

    <br><%= t('long_msg.plan.use_plan_2') %><%= link_to t('verb.purapura') + t('verb.do'), "" ,class: "btn btn-primary",method: "get" ,:data => {:target => "set-url-by-selectbox.btn"} %>
  </span>

  <br>
  <br>

  <div class="hover-balloon"><%= t('long_msg.what_is_plan.msg1') %><br><%= t('long_msg.please_cursor') %>
    <div class="hover-balloon__text">
      <%= t('long_msg.what_is_plan.msg2') %><br>
      <%= t('long_msg.what_is_plan.msg3') %><br>
      <%= t('long_msg.what_is_plan.msg4') %><br>
  　　 <%= t('long_msg.what_is_plan.msg5') %><br>
  　　 <%= t('long_msg.what_is_plan.msg6') %>
    </div>
  </div>

  <br>

  <div class="hover-balloon"><%= t('long_msg.what_is_workbox.msg1') %><br><%= t('long_msg.please_cursor') %>
    <div class="hover-balloon__text">
      <%= t('long_msg.what_is_workbox.msg2') %><br>
      <%= t('long_msg.what_is_workbox.msg3') %><br>
      <%= t('long_msg.what_is_workbox.msg4') %><br>
      <%= t('long_msg.what_is_workbox.msg5') %><br>
  　　 <%= t('long_msg.what_is_workbox.msg6') %>
    </div>
  </div>

  <br>

  <%= t('long_msg.create_plan_and_workbox.msg1') %>
  <br>
  <%= link_to t('long_msg.create_plan_and_workbox.msg2'), edit_user_path(current_user.id) %>
  <br>
  <%= t('long_msg.create_plan_and_workbox.msg3') %>

  <br><br>
  <%= link_to t('verb.logout'), destroy_user_session_path, method: :delete %>

<% else %>

  <br><br>
  <%= t('verb.is_not_login') %>
  <%= link_to t('verb.make_this',this: t('activerecord.models.drawing_pin')) ,new_drawing_pin_path ,class: "btn  btn-primary btn_head" %>
  <br><br>
  <%= link_to t('verb.look_this',this: t('activerecord.models.drawing_pin')) ,drawing_pins_path ,class: "btn  btn-primary btn_head" %>

  <br><br>
  <%= link_to t('verb.login'), new_user_session_path %>
  <br><br>
  <%= link_to  t('adjective.newly') + t('activerecord.normal_process.noun.save'), new_user_registration_path %>
<% end %>
