

<div class="sidebar_title">
  <h4 class="form_name"><strong><%= @form_name %></strong></h4>

  <% if @form_name_sub.present? %>
    <strong class="form_name_sub"><%= @form_name_sub %></strong>
  <% end %>
</div>



<% if user_signed_in? %>
<br><br>
  <%= current_user.user_name.to_s + "さんがログインしています。"  %>
  <br><br>
  <%= link_to "📍を作る" ,new_drawing_pin_path ,class: "btn btn-default btn_head" %>
  <br><br>
  <%= link_to "📍を見る" ,drawing_pins_path ,class: "btn btn-default btn_head" %>
  <br><br>

  <%# ↓作業箱画面は後回し %>
  <%# <%= select :workbox_id,"", get_workboxes_as_selectbox_info[0] ,{:selected => get_workboxes_as_selectbox_info[1]}  %>
  <!-- <br>の作業箱を<a class="btn btn-primary btn-sm" >編集</a> -->


  <br><br>

  <span data-controller="set-url-by-selectbox">
    <input type="hidden" value= "/plans/" data-target = "set-url-by-selectbox.base_url_1" >
    <input type="hidden" value= "" data-target = "set-url-by-selectbox.base_url_2" >

    <%= select :plan_id,"", get_plans_as_selectbox_info[0] , {:selected => get_plans_as_selectbox_info[1]}, {:data => {:target => "set-url-by-selectbox.selected_info",:action => "change->set-url-by-selectbox#select"},class: "cbb_workbox_or_plan"} %>

    <br>のプランを<%= link_to '編集する', "" ,class: "btn btn-primary",method: "get" ,:data => {:target => "set-url-by-selectbox.btn"} %>
  </span>


  <br><br>
  <span data-controller="set-url-by-selectbox">
    <input type="hidden" value= "/plans/" data-target = "set-url-by-selectbox.base_url_1" >
    <input type="hidden" value= "/presentation" data-target = "set-url-by-selectbox.base_url_2" >
    <%= select :plan_id,"", get_plans_as_selectbox_info[0],{selected: get_plans_as_selectbox_info[1]}, {:data => {:target => "set-url-by-selectbox.selected_info",:action => "change->set-url-by-selectbox#select"},class: "cbb_workbox_or_plan"} %>

    <br>のプランで<%= link_to 'ぷらぷらする', "tttt" ,class: "btn btn-primary",method: "get" ,:data => {:target => "set-url-by-selectbox.btn"} %>
  </span>


  <br><br>
  <%= link_to 'ユーザープロフィール', user_path(current_user.id) %>
  <br><br>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
<br><br>
  ログインしていません。
  <%= link_to "📍を作る" ,new_drawing_pin_path ,class: "btn btn-default btn_head" %>
  <br><br>
  <%= link_to "📍を見る" ,drawing_pins_path ,class: "btn btn-default btn_head" %>

  <br><br>
  <%= link_to "ログイン", new_user_session_path %>
  <br><br>
  <%= link_to "新規登録", new_user_registration_path %>
<% end %>
