<%# item_type:「0」→グリッド欄のアイテム、「１」→地図上の吹きだし %>

<% if item_type == 0 %>

  <input name="latitude" type="hidden" data-target = "pin-index.latitude" value= <%= pin.latitude %>  data-action-pin-id = <%= pin.id.to_s %> >
  <input name="longitude" type="hidden" data-target = "pin-index.longitude" value= <%= pin.longitude %>  data-action-pin-id = <%= pin.id.to_s %> >
  <% onmap = "" %>

<% else %>
  <% onmap = "_onmap" %>
<% end %>

<!-- <div class="index_grid_item"> -->

  <div class="index_grid_item_head<%= onmap %>">

    <% if pin.url.blank? %>
      <a ><%= pin.pin_name %></a>
    <% else %>
      <%= link_to pin.pin_name, pin.url , :target=>["_blank"] %>
    <% end %>

  </div>

  <div class="index_grid_item_body<%= onmap %>">

    <% if item_type == 0 %>
      <div class="index_grid_item_body_left<%= onmap %>" data-action = "click->pin-index#move" data-action-pin-id = <%= pin.id.to_s %> >
    <% else %>
      <div class="index_grid_item_body_left<%= onmap %>" >
    <% end %>

      <% if pin.image && pin.image.url %>
        <%= image_tag(pin.image.url,class: 'index_grid_item_imagecontent' + onmap)  %>
      <% else %>
        <a class="index_grid_item_imagecontent<%= onmap %>" ><%= t('activerecord.attributes.drawing_pin.no_image.not_set') %></a>
      <% end %>
    </div>

    <div class="index_grid_item_body_right<%= onmap %>">
      <div class="index_grid_item_body_maintext<%= onmap %>">

        <% if item_type == 0 %>
          <strong>【<%= t('noun.details') %>】：</strong><%= pin.pin_article.truncate(22) %>
        <% else %>
          <strong>【<%= t('noun.details') %>】：</strong><%= pin.pin_article %>
        <% end %>

      </div>
      <div class="index_grid_item_body_fittings<%= onmap %>">

        <% if can_edit_pin?(pin) %>
          <%= link_to t('activerecord.normal_process.noun.update'), edit_drawing_pin_path(pin.id), class: "btn btn-primary btn-sm btn_edit#{onmap}"  %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="index_grid_item_line_1<%= onmap %>" data-controller="judge-add-or-remove">
    <% if currentuser_info.present? %>

      <%# ↓の「plan_plan_pins_path(0)」、引数「0」はダミー……実際は「judge-add-or-remove」ですぐに書き換えられる %>
      <%= form_with model: WorkboxPin.new, method: :post , url: workbox_workbox_pins_path(0), :data => {:target => "judge-add-or-remove.form"} , remote: true do |form| %>

        <input type="hidden" value= "workbox" data-target = "judge-add-or-remove.selected_info_type" >
        <%= form.hidden_field :workbox_id ,value: 0,:data => {:target => "judge-add-or-remove.selected_info_id"}  %>
        <%= form.hidden_field :drawing_pin_id ,value: pin.id,:data => {:target => "judge-add-or-remove.pin_id"}  %>
        <input type="hidden" name="_method" value="" data-target = "judge-add-or-remove.method" >

        <a><%= t('activerecord.models.workbox') %>:</a>
        <%= select :workbox_id,"", currentuser_workboxes[0] ,{selected: currentuser_workboxes[1]}, {:data => {:target => "judge-add-or-remove.selected_info",:action => "change->judge-add-or-remove#select"},class: "cbb_workbox_or_plan"}  %>
        <%= form.submit t('verb.add_to'), class: "btn btn-primary btn-sm" ,:data => {:target => "judge-add-or-remove.btn"} %>
      <% end %>
    <% end %>

  </div>

  <div class="index_grid_item_line_2<%= onmap %>" data-controller="judge-add-or-remove">
    <% if currentuser_info.present? %>

      <%# ↓の「plan_plan_pins_path(0)」、引数「0」はダミー……実際は「judge-add-or-remove」ですぐに書き換えられる %>
      <%= form_with model: PlanPin.new, method: :post , url: plan_plan_pins_path(0), :data => {:target => "judge-add-or-remove.form"} , remote: true do |form| %>

        <input type="hidden" value= "plan" data-target = "judge-add-or-remove.selected_info_type" >
        <%= form.hidden_field :plan_id ,value: 0,:data => {:target => "judge-add-or-remove.selected_info_id"}  %>
        <%= form.hidden_field :drawing_pin_id ,value: pin.id,:data => {:target => "judge-add-or-remove.pin_id"}  %>
        <input type="hidden" name="_method" value="" data-target = "judge-add-or-remove.method" >

        <a><%= t('activerecord.models.plan') %>:</a>
        <%= form.select :plan_id , currentuser_plans[0] ,{selected: currentuser_plans[1]}, {:data => {:target => "judge-add-or-remove.selected_info",:action => "change->judge-add-or-remove#select"},class: "cbb_workbox_or_plan"}  %>
        <%= form.submit t('verb.add_to'), class: "btn btn-primary btn-sm" ,:data => {:target => "judge-add-or-remove.btn"} %>

      <% end %>
    <% end %>
  </div>
