<div class="search_result_container"   data-controller="pin-index">
  <input name="maps_json" type="hidden" data-target = "pin-index.pins" value= <%= drawing_pins_json %> >

  <div class="index_map_container">

    <div id = "main_index_map" class="index_map_box" data-target="pin-index.map">
    ssss
    </div>

    <%= render 'layouts/shared/yahoo_attribution' %>


    <div class="index_map_instructions">
    </div>


  </div>
  <div class="index_grid_box">
    <div class="index_grid_head">

      <%= link_to  t('adjective.newly') + t('activerecord.models.drawing_pin') + t('activerecord.normal_process.noun.save') ,new_drawing_pin_path ,class: "btn btn-primary index_grid_head_btn" %>

      <div class="index_grid_head_description">
        <h4 class="index_grid_head_title">【<%= t('activerecord.normal_process.noun.search') + t('noun.result') %>】</h4>
        <%= t('long_msg.pin.please_click_image.msg1') %>
      </div>

    </div>
    <% if user_signed_in? %>
      <% currentuser_info = current_user %>
      <% currentuser_workboxes = get_workboxes_as_selectbox_info %>
      <% currentuser_plans = get_plans_as_selectbox_info %>

    <% end %>

    <div class="index_grid_body">
      <% drawing_pins.each_with_index do |pin,i| %>
        <div id = "pin_id_<%= pin.id %>" class="index_grid_item">

          <%= render 'index_item', pin: pin , item_num: i ,currentuser_info: currentuser_info,
          currentuser_workboxes: currentuser_workboxes,currentuser_plans: currentuser_plans ,item_type: 0 %>
          <%# item_type:「0」→グリッド欄のアイテム、「１」→地図上の吹き出し %>

        </div>
      <% end %>
    </div>

  </div>

</div>
