<!-- メッセージとか -->
<p id="notice_msg"><%= render 'layouts/show_notice_msg' %></p>
<p id="danger_msg"><%= render 'layouts/show_danger_msg' %></p>



<%= form_with(model: @drawing_pin, local: true) do |form| %>

<div class="edit_form"　 data-controller="edit-pin">

  ※画像、位置情報の変更は行えません。
  誤りがある場合はお手数ですが、一度削除してから再登録してください。
  <div class="edit_twin_box">

    <div id = "edit_map_box"  class="edit_map_box" data-target="edit-pin.map" >
    <!-- ここに地図を描く -->
    </div>

    <div class="edit_image_box">
      <% if @drawing_pin.image && @drawing_pin.image.url %>
        <%= image_tag(@drawing_pin.image.url,class: 'edit_image_box_content')  %>
      <% else %>
        <h5 class="" >【画像は登録されていません。】</h5>
      <% end %>
    </div>

  </div>

  <%= render 'layouts/shared/yahoo_attribution' %>

  <div class="line_info">
    <a class="line_content_1">住所:<%= @drawing_pin.address %>
       (緯度:<span data-target="edit-pin.latitude"><%= @drawing_pin.latitude %></span>
       、 経度:<span data-target="edit-pin.longitude" ><%= @drawing_pin.longitude %></span>)</a>
  </div>



  <div class="line_info">
    <%= form.label "名称" ,class: "line_content_1" %>
    <%= form.text_field :pin_name ,class: "line_content_2" ,maxlength: 30 %>
  </div>


  <div class="line_info">
    <%= form.label "公開区分" ,class: "line_content_1" %>
    <% public_info = make_rdb_public_or_not(pin_id: @drawing_pin.id)  %>

    <span class = "input_radio_btn_line">
      <label class = "input_radio_btn">
        <%= form.radio_button :public_div, 0,public_info[:public_0] %>公開
      </label>

      <label class = "input_radio_btn">
        <%= form.radio_button :public_div, 9,public_info[:public_9] %>非公開
      </label>
    </span>

  </div>


  <div class="line_info_multiline">
    <%= form.label "詳細情報" ,class: "line_content_1" %>
    <%= form.text_area :pin_article,class: "line_content_2 input_text_content" ,maxlength: 180  %>
  </div>

    <div class="line_info">
      <%= form.submit "更新" ,id: "btn_save",class: 'btn btn-primary btn_line_2' %>

      <%= link_to  "削除", @drawing_pin,id: "btn_delete", method: :delete,data: { confirm:  "削除します。よろしいですか？" } , class: 'btn btn-primary btn_line_1'  %>
    </div>

</div>
<% end %>
