<div  data-controller="pin-index">


  <div class="index_search_box">
  【検索条件】
    <%= form_with scope: :conditions, url:index_search_drawing_pins_path,method: :get ,remote: true do |form| %>

      <div class="index_search_line">
        <div class="index_search_item">
          <%= form.label "ユーザーネーム"%>
          <%= form.text_field :user_name %>
        </div>
        <div class="index_search_item">

            <%= form.label "登録日"%>
            <%= form.date_field :longitud2e %>
            <%= form.label "〜"%>
            <%= form.date_field :longitud2e %>
        </div>
      </div>

      <div class="index_search_line">

        <div class="index_search_item">

            <%= form.label "名称"%>
            <%= form.text_field :longi4tude %>
        </div>
        <div class="index_search_item">

            <%= form.label "更新日"%>
            <%= form.date_field :longitud2e %>
            <%= form.label "〜"%>
            <%= form.date_field :longitud2e %>
        </div>
      </div>

      <div class="index_search_line">

        <div class="index_search_item">
                    <%= form.label "詳細"%>
                    <%= form.text_field :longi4tude %>

        </div>
        <div class="index_search_item">
          <%= form.submit "検索" %>

        </div>
      </div>


    <% end %>
  </div>

  <div id="search_result" class="search_result">

      <%= render 'search_result', drawing_pins: @drawing_pins, drawing_pins_json: @drawing_pins_json %>

  </div>

</div>
