<!-- メッセージとか -->
<p id="notice_msg"><%= render 'layouts/show_notice_msg' %></p>
<p id="danger_msg"><%= render 'layouts/show_danger_msg' %></p>

<%= form_with(model: @drawing_pin, local: true) do |form| %>

  <div class="create_form"  data-controller="create-pin">

    <div class="create_box_first">
      <h5>【登録内容】</h5>

        <div class="line_info">
          <%= form.label "📍の名称" ,class: "line_content_1" %>
          <%= form.text_field :pin_name ,id: :name ,class: "line_content_2"%>
        </div>

        <div class="line_info">
          <%= form.label "公開区分" ,class: "line_content_1" %>

          <% public_info = make_rdb_public_or_not()  %>

          <span class = "input_radio_btn_line">
            <label class = "input_radio_btn">
              <%= form.radio_button :public_div, 0 ,public_info[:public_0] %>公開
            </label>

            <label class = "input_radio_btn">
              <%= form.radio_button :public_div, 9 ,public_info[:public_9]  %>非公開
            </label>
          </span>
        </div>

        <div class="line_info_multiline">
          <%= form.label "詳細情報" ,class: "line_content_1" %>
          <%= form.text_area :pin_article,class: "line_content_2 input_text_content" %>
        </div>


        <div  data-controller="save-image">
          <div class="line_info">
            <%= form.label "画像" ,class: "line_content_1" %>
            <%= form.file_field :image, id: :pin_image ,class: "line_content_2" , :data => {:action => "change->save-image#change_image"}%>
          </div>

                <div id="image_field_pin_create" data-target = "save-image.image_field" class = "image_field_pin_create" >

                </div>

        </div>

    </div>

    <div class="create_box_second">

      <div  id = "create_map_box" class="create_map_box" data-target="create-pin.map"  >

      </div>

      <div class="line_info_multiline">
        <div  data-target="create-pin.reference_1">【位置参照情報】地図をダブルクリックしてください。</div>
        <div  data-target="create-pin.reference_2"></div>
        <div  data-target="create-pin.reference_3"></div>
      </div>
      <div class="line_info">
        <div>
          地図操作により取得したデータを直接保存することは、<%= link_to "規約" ,"https://map.yahoo.co.jp/promo/yolp/faq.html#14"  %>により禁じられています。お手数ですが、住所・座標は手入力してください。
        </div>
      </div>

      <div class="line_info">
        <%= form.label "住所" ,class: "line_content_1" %>
        <%= form.text_field :address ,class: "line_content_2 "%>
      </div>
      <div class="line_info">
        <div class="line_content_annotation">
          ※住所は検索に使用する参照情報です、ピンの位置には影響を与えません。
        </div>
      </div>

      <div class="latitude_longitude">
        <div class="latitude">
          <%= form.label "緯度" %>
          <%= form.text_field :latitude ,:data => {:target => "create-pin.latitude"} %>
        </div>
        <div class="longitude">
          <%= form.label "経度"%>
          <%= form.text_field :longitude ,:data => {:target => "create-pin.longitude"}%>
        </div>
      </div>

      <div class="line_info">
        <a class='btn btn-primary' data-action="create-pin#set_by_latlng" data-target="create-pin.btn_set">座標確定</a>
        <a class='btn btn-primary' data-action="create-pin#reset_latlng" data-target="create-pin.btn_reset">座標確定解除</a>
        <a class="line_info" data-target="create-pin.msg"></a>
      </div>

      <div class="line_info">
        <%= form.submit "登録" , class: 'btn btn-primary line_content_btn' ,
            :data => {:target => "create-pin.btn_save"}%>
      </div>

    </div>

  </div>

<% end %>
