<div class="create_form"  data-controller="create-pin">

  <!-- メッセージとか……後回し -->

  <div class="create_box_first">
    <h5>【登録内容】</h5>

    <%= form_with(model: @drawing_pin, local: true) do |form| %>

      <div class="line_info">
        <%= form.label "📍の名称" ,class: "line_content_1" %>
        <%= form.text_field :pin_name ,id: :name ,class: "line_content_2"%>
      </div>

      <div class="line_info">
        <%= form.label "公開区分" ,class: "line_content_1" %>

        <span class = "input_radio_btn_line">
          <label class = "input_radio_btn">
            <%= form.radio_button :public_div, 0 %>公開
          </label>

          <label class = "input_radio_btn">
            <%= form.radio_button :public_div, 9 %>非公開
          </label>
        </span>

      </div>

      <div class="line_info_multiline">
        <%= form.label "詳細情報" ,class: "line_content_1" %>
        <%= form.text_area :pin_article,class: "line_content_2 input_text_content" %>
      </div>


      <div  data-controller="save-image">
        <div class="line_info">
          <%= form.label "画像" ,class: "line_content_1" %>
          <%= form.file_field :image, id: :pin_image ,class: "line_content_2" , :data => {:action => "change->save-image#change_image"}%>
        </div>

              <div id="image_field_pin_create" data-target = "save-image.image_field" class = "image_field_pin_create" >

              </div>

      </div>

  </div>

  <div class="create_box_second">

    <div  id = "testyounomap" class="create_map_box" data-target="create-pin.map"  >

    </div>

      <div class="latitude_longitude">
        <div class="latitude">
          <%= form.label "緯度" %>
          <%= form.text_field :latitude ,:data => {:target => "create-pin.latitude"} %>
        </div>
        <div class="longitude">
          <%= form.label "経度"%>
          <%= form.text_field :longitude ,:data => {:target => "create-pin.longitude"}%>
        </div>
      </div>

      <div class="line_info">
        <%= form.label "住所" ,class: "line_content_1" %>
        <%= form.text_field :address ,class: "line_content_2 "%>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>

    <% end %>

  </div>

</div>
