<!-- メッセージとか -->
<p id="notice"><%= notice %></p>
<%= render 'layouts/show_danger_msg' %>

<div class="user_form">

  <h2><%= t('activerecord.models.user') + t('activerecord.attributes.user.profile') %></h2>

  <div class="line_info">
    <div class="line_content_1">
      <strong><%= t('activerecord.attributes.user.account_name') %>:</strong>
      <%= @user.account_name %>
    </div>
  </div>

  <div class="line_info">
    <div class="line_content_1">
      <strong><%= t('activerecord.attributes.user.user_name') %>:</strong>
      <%= @user.user_name %>
    </div>
  </div>


  <div class="line_info">
    <div class="line_content_1">
      <strong><%= t('activerecord.attributes.user.email') %>::</strong>

      <% if (user_signed_in? && @user.id == current_user.id) || (@user.email_public_div == 0) %>
        <%= @user.email %>
      <% else %>
        <%= t('activerecord.attributes.user.public_div_type.type_9') %>
      <% end %>
    </div>
  </div>

  <div class="line_info">
    <div class="line_content_1">
      <strong><%= t('activerecord.attributes.user.profile') %>:</strong>
      <%= @user.profile %>
    </div>
  </div>

  <% if user_signed_in? && @user.id == current_user.id %>

    <%= link_to "#{t('activerecord.attributes.user.password')}、#{t('activerecord.attributes.user.user_name')}#{t('verb.change')}", edit_user_registration_path(@user.id), class: 'btn btn-primary btn_main_1'  %>
    <%= link_to "#{t('activerecord.attributes.user.profile')}#{t('verb.change')}、「#{t('activerecord.models.workbox')}」「#{t('activerecord.models.plan')}」#{t('verb.organize')}", edit_user_path(@user.id), class: 'btn btn-primary btn_main_1_2' %>

  <% end %>

</div>
