<%= notice %>
<%= alert %>
<%= devise_error_messages! %>

<div class="user_form">

  <h3><%= t('verb.login') + t('noun.form')  %></h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div  class="line_info">
      <%= f.label :email ,class: "line_content_1"  %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "line_content_2_large_interval"%>
    </div>

    <div c class="line_info">
      <%= f.label :password ,class: "line_content_1"  %><br />
      <%= f.password_field :password, autocomplete: "current-password",class: "line_content_2_large_interval" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div  class="line_info">
        <div  class="line_content_annotation">
          <%= f.check_box :remember_me %>
          <%= f.label t('helpers.submit.submit') %>
        </div>
      </div>
    <% end %>

    <div  class="line_info">
      <%= f.submit t('verb.login') ,class: "btn btn-primary line_content_1" %>
    </div>
  <% end %>
  <div  class="line_info">
  </div>
  <div  class="line_info">
    <%= link_to "・パスワードを忘れた場合はこちら。", new_user_password_path %>
  </div>

  <%# <%= render "devise/shared/links" %>
</div>
