<div class="search_result_container"   data-controller="pin-and-planpin">
<!-- <div class="search_result_container"   data-controller="pin-index">   -->

<%# データコントローラ「pin-and-planpin」についてのメモ  %>
<%# 目的→  地図に「プランのピン」「プランに所属していないピン」を表示する%>
<%# ターゲット→　「pins_not_plan：プランに所属していないピン」「plan_pins：プランのピン」「map：地図」  %>
<%# アクション→  %>

  <input name="maps_json" type="hidden" data-target = "pin-and-planpin.plan_id" value= <%= plan.id %> >
  <input name="maps_json" type="hidden" data-target = "pin-and-planpin.pins_not_plan" value= <%= drawing_pins_json %> >
  <input name="maps_json" type="hidden" data-target = "pin-and-planpin.plan_pins" value= <%= plan_pins_json %> >


  <div class="index_map_container">

    <div id = "main_index_map" class="index_map_box" data-target="pin-and-planpin.map">
    </div>

    <div class="index_map_instructions">
      <%= render 'layouts/shared/yahoo_attribution' %>
      <br>
      <div>
        ・<span class="pin_sample_blue"></span>のピン→選択中のプラン（<%= plan.plan_name %>）に含まれているピン……プランからの削除処理が可能です。
      </div>
        <br>
      <div>
        ・<span class="pin_sample_red"></span>のピン→検索された、まだプランに含まれていないピン……プランへの追加処理が可能です。
      </div>
    </div>
  </div>

  <div class="index_grid_box">
    <div class="index_grid_head">



      <div class="index_grid_head_description">
        プラン：<%= link_to plan.plan_name ,edit_plan_path(plan.id) ,class: "btn btn-primary" %>のピン一覧
        <div>
          ※画像部クリックでピンの場所に移動
        </div>
        <div>
          ドラッグアンドドロップで並び替えできます。
        </div>
      </div>

    </div>

    <div class="index_grid_body"  id="sortable_list">
      <% plan_pins.each_with_index do |plan_pin| %>
        <div id = "pin_id_<%= plan_pin.drawing_pin_id %>" class="index_grid_item">
          <div hidden>plan_pin</div>
          <%= render 'plan_pins/show',plan: plan , plan_pin: plan_pin ,item_type: 0 %>
          <%# <%= render 'plan_index_item', plan_pin: plan_pin , item_num: i ,item_type: 0 %>
          <%# item_type:「0」→グリッド欄のアイテム、「１」→地図上の吹き出し %>

        </div>
      <% end %>
    </div>
    <% if plan_pins.size > 0 %>
      <%= hidden_field_tag :plan_id, plan_pins[0].plan_id %>
    <% end %>

  </div>

</div>
