<!-- メッセージとか -->
<p id="notice_msg"><%= render 'layouts/show_notice_msg' %></p>
<p id="danger_msg"><%= render 'layouts/show_danger_msg' %></p>

<%= form_with(model: @plan,url: plan_path, method: :patch , local: true) do |form| %>

  <div class="line_info">
    <%= form.label :plan_name,class: "line_content_1"  %>
    <%= form.text_field :plan_name,class: "line_content_2" %>
  </div>

  <div class="line_info">
    <%= form.label "概要",class: "line_content_1"  %>
    <%= form.text_field :comment,class: "line_content_2" ,maxlength: 40 %>
  </div>

  <div class="line_info">
    <%= form.label :workbox ,class: "line_content_1"  %>
    <%= form.select :workbox_id, get_workboxes_as_selectbox_info(has_blank: true)[0],{},class: "line_content_2"  %>
  </div>

  <span data-controller="password-change-or-not">

    <div class="line_info">
      <%= form.label :public_div,class: "line_content_1"  %>

      <span class = "input_radio_btn_line">
        <label class = "input_radio_btn">
          <%= form.radio_button :public_div, 0 ,:data => {:action => "change->password-change-or-not#check",:target => "password-change-or-not.check"}%><%= t('activerecord.attributes.plan.public_div_type.type_0') %>
        </label>
        <label class = "input_radio_btn">
          <%= form.radio_button :public_div, 9 ,:data => {:action => "change->password-change-or-not#check",:target => "password-change-or-not.check"}%><%= t('activerecord.attributes.plan.public_div_type.type_9') %>
        </label>
      </span>

    </div>
    <div class="line_info">
      <%= form.label t('long_msg.plan.password.setting_info.msg1'),class: "line_conten_annotation"%>
    </div>

    <div class="line_info">
      <%= form.label  :password,class: "line_content_1"%>
      <%= form.password_field :password, value: "", class: "line_content_2",:data => {:target => "password-change-or-not.password"} %>
    </div>

    <div class="line_info">
      <%= form.label :password,class: "line_content_1"%>
      <%= form.password_field :password_confirmation, value: "", class: "line_content_2",:data => {:target => "password-change-or-not.password_confirmation"}  %>
        <%= form.label "(#{t('verb.for_confirm')})",class: "line_content_password_confirm_annotation"%>
    </div>

  </span>

  <div class="line_info">
    <%= form.label t('long_msg.plan.password.setting_info.msg2'),class: "line_conten_annotation"%>
    <%= form.label t('long_msg.plan.password.setting_info.msg3'),class: "line_conten_annotation"%>
    <%= form.label t('long_msg.plan.password.setting_info.msg4'),class: "line_conten_annotation"%>
  </div>

  <div class="line_info">
  </div>

  <div  data-controller="save-image">
    <div class="line_info">
      <%# ↓エラーメッセージ等表示枠 %>
      <a  data-target="save-image.msg"></a>
    </div>

    <div class="line_info">
      <%= form.label "プラン画像" ,class: "line_content_1" %>
      <%= form.file_field :image, id: :image ,class: "line_content_2" , :data => {:action => "change->save-image#change_image" , :target =>"save-image.file_field"}%>
    </div>

    <% if form.object.image && form.object.image.url %>

      <div class="line_info">
        <span class = "line_content_1" >
          <%= form.check_box :remove_image %>
          <%= form.label "プラン画像を削除する" %>
        </span>
      </div>

    <%  end %>

    <div id="image_field_plan_edit" data-target = "save-image.image_field" class = "image_field_plan_edit" >

        <% if form.object.image && form.object.image.url %>
          <%= image_tag(form.object.image.url ,class: "image_field_preview")%>
        <%  end %>

    </div>

  </div>

  <div class="line_info">
    <%= form.submit id:"btn_save" , class: 'btn btn-primary line_content_btn'%>
  </div>


<% end %>
