<h4>非公開プランです。パスワードを入力してください。</h4>
<!-- メッセージとか -->
<p id="notice_msg"><%= render 'layouts/show_notice_msg' %></p>
<p id="danger_msg"><%= render 'layouts/show_danger_msg' %></p>

<%= form_with(model: @plan , method: :post ,url: presentation_password_chk_plan_path, local: true) do |form| %>

  <%= form.label "パスワード" %>
  <%= form.password_field :password ,id: :password  %>

  <%= form.submit "確認" ,id: "btn_confirm" %>
<% end %>
