<div>

  <div class="index_search_box">
  【<%= t('noun.search_condition') %>】
    <%= form_with scope: :conditions, url:search_pin_for_plan_path,method: :get ,remote: true do |form| %>

      <div class="index_search_line">
        <div class="index_search_item">
          <%= t('activerecord.models.workbox') %><%= form.select :workbox_id , get_workboxes_as_selectbox_info(has_blank: true)[0] ,selected: @plan.workbox_id %>
        </div>
        <div class="index_search_item">

          <%= form.label t('activerecord.attributes.common_matter.created_at')%>
          <%= form.date_field :created_at_from %>
          <%= form.label "〜"%>
          <%= form.date_field :created_at_to %>
        </div>
      </div>

      <div class="index_search_line">

        <div class="index_search_item">

          <%= form.label t('activerecord.attributes.user.user_name')%>

          <% if user_signed_in? %>
            <%= form.text_field :user_name ,value: current_user.user_name %>
          <% else %>
            <%= form.text_field :user_name  %>
          <% end %>
        </div>
        <div class="index_search_item">

          <%= form.label t('activerecord.attributes.common_matter.updated_at')%>
          <%= form.date_field :updated_at_from %>
          <%= form.label "〜"%>
          <%= form.date_field :updated_at_to %>
        </div>
      </div>

      <div class="index_search_line">

        <div class="index_search_item">

          <%= form.label t('activerecord.attributes.drawing_pin.pin_name')%>
          <%= form.text_field :pin_name %>

        </div>
        <div class="index_search_item">
        <%= form.label t('activerecord.attributes.drawing_pin.address')%>
          <%= form.text_field :address %>
        </div>
      </div>


      <div class="index_search_line">

        <div class="index_search_item">

          <%= form.label t('activerecord.attributes.drawing_pin.pin_article')%>
          <%= form.text_field :pin_article %>
        </div>
        <div class="index_search_item">

        </div>
      </div>

      <div class="index_search_line">

        <div class="index_search_item">
        </div>
        <div class="index_search_item">

          <%= form.hidden_field :plan_id ,value: @plan.id  %>
          <%= form.submit t('noun.search') , id: "btn_search" %>

        </div>
      </div>


    <% end %>
  </div>

  <!-- メッセージとか -->
  <p id="notice_msg"><%= render 'layouts/show_notice_msg' %></p>
  <p id="danger_msg"><%= render 'layouts/show_danger_msg' %></p>

  <div id="search_and_index">

    <%= render 'search_and_index',plan: @plan, plan_pins: @plan_pins, plan_pins_json: @plan_pins_json , drawing_pins: @drawing_pins, drawing_pins_json: @drawing_pins_json %>

  </div>

</div>
