<!-- メッセージとか -->
<p id="notice_msg"><%= render 'layouts/show_notice_msg' %></p>
<p id="danger_msg"><%= render 'layouts/show_danger_msg' %></p>

<%= form_with(model: @plan_pin , method: :patch , url: plan_plan_pin_path(@plan_pin.plan_id,@plan_pin.id), local: true) do |form| %>

<div class=""　 data-controller="edit-pin">

<div class="edit_twin_box">

  <div id = "edit_map_box"  class="edit_map_box" data-target="edit-pin.map" >
  <!-- ここに地図を描く -->
  </div>

  <div class="edit_image_box">
    <% if @plan_pin.drawing_pin.image && @plan_pin.drawing_pin.image.url %>
      <%= image_tag(@plan_pin.drawing_pin.image.url,class: 'edit_image_box_content')  %>
    <% else %>
      <h5 class="" >【<%= t('activerecord.attributes.drawing_pin.no_image.not_exist') %>】</h5>
    <% end %>
  </div>

</div>

<div class="line_info">
  <a class="line_content_1"><%= t('activerecord.attributes.drawing_pin.address') + ":" + @plan_pin.drawing_pin.address %>
     (<%= t('activerecord.attributes.drawing_pin.latitude') %>:<span data-target="edit-pin.latitude"><%= @plan_pin.drawing_pin.latitude %></span>
     、 <%= t('activerecord.attributes.drawing_pin.longitude') %>:<span data-target="edit-pin.longitude" ><%= @plan_pin.drawing_pin.longitude %></span>)</a>
</div>


<div class="line_info">
  <%= form.label "前の📍からの経路" ,class: "line_content_1" %>
  <%= form.select :route, get_routes_as_selectbox_info() , {:selected => @plan_pin.route},class: "line_content_2_large_interval"  %>
</div>

<div class="line_info">
  <%= form.label :plan_pin_name ,class: "line_content_1" %>
  <%= form.text_field :plan_pin_name ,class: "line_content_2_large_interval" ,maxlength: 30 %>
</div>

<div class="line_info_multiline">
  <%= form.label :plan_pin_article ,class: "line_content_1" %>
  <%= form.text_area :plan_pin_article,class: "line_content_2_large_interval input_text_content" ,maxlength: 180 %>
</div>

<div class="line_info">
  <%= form.label "リンク先（プラン用)" ,class: "line_content_1" %>
  <%= form.text_field :url ,class: "line_content_2_large_interval txt_pin_name" ,maxlength: 4096 %>
</div>

<div class="line_info">
  <%= form.submit t('activerecord.normal_process.noun.update') ,class: 'btn btn-primary btn_line_2' %>

</div>

</div>
<% end %>
