<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>Mappura</title>
    <script src="//cdn.jsdelivr.net/npm/ie-buster@1.1.0/dist/ie-buster.min.js"></script>

    <!-- <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.min.js"></script> -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=<%=ENV['YAHOO_JAPAN_ID']%>"></script>
    <script src="https://unpkg.com/yahoo-map-cluster@latest/bundle/ymap-cluster.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if action_name.in?(["presentation","presentation_password"]) %>
    <%# <% if action_name == "presentation" %>
      <meta name="twitter:title" content=　<%= @plan.plan_name %> >
      <meta name="twitter:description" content=　<%= @plan.comment %>  >
      <% if @plan.image && @plan.image.url %>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content=<%= @plan.image.url %> >
      <% else %>
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="http://mappura.com/img/mappura_logo.png" >
      <% end %>

    <% end %>

  </head>

  <body>

  <header class="clearfix">
    <%= render 'layouts/shared/header' %>
  </header>

  <% if @view_form_type == 0 %>
    <div id="center_content">

        <div class="side_bar">
          <%= render 'layouts/shared/sidebar' %>
        </div>

        <div class="main_form">
          <%= yield %>
        </div>

    </div>

  <% elsif  @view_form_type == 1 %>
    <div class="main_form">
      <%= yield %>
    </div>
  <% end %>

  <footer>
  </footer>

  </body>

</html>
