<!DOCTYPE html>
<html>
  <head>
    <title>Mappura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=<%=ENV['YAHOO_JAPAN_ID']%>"></script>
    <script src="https://unpkg.com/yahoo-map-cluster@latest/bundle/ymap-cluster.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.min.js"></script>

  </head>


  <body>

  <header class="clearfix">
    <%= render 'layouts/shared/header' %>
  </header>


  <% if @view_form_type == 0 %>
    <div id="center_content">

        <div class="side_bar">
          <%= render 'layouts/shared/sidebar' %>
        </div>

        <div class="main_form">
          <%= yield %>
        </div>

    </div>

  <% elsif  @view_form_type == 1 %>
    <div class="main_form">
      <%= yield %>
    </div>
  <% end %>

  <footer>
  </footer>

  </body>



</html>
